<h1>Create A Song</h1>
<%= form_tag(songs_path) do |f| %>
  <%= text_field_tag :'song[name]' %><br>
  <%= text_field_tag :'song[artist_id]' %><br>
  <%= text_field_tag :'song[genre_id]' %><br>
  <%= submit_tag "Create Song" %>
  <% end %>